/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
    background-color: hsl(7, 176%, 97%);
}

.msg {
    text-align: left;
    display: block;
    margin: auto;
    font-size: small;
    color: red;
    margin-top: .5rem;
}

.logo-container {
    background: white;
    padding-block: 1.8rem;
}

.logo {
    padding-inline-start: 2rem;
}

.hero-img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main-container {
    padding-block: 4rem;
    padding-inline: 2rem;
    max-width: 30rem;
    margin: auto;
}

.picture {
    height: 100%;
}

.main-title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: "Josefin Sans";
    font-weight: 300;
    line-height: 1;
    letter-spacing: 10.8px;
    align-items: center;
    color: hsla(0, 36%, 70%, 1);
}

.highlight {
    font-weight: 600;
    color: hsla(0, 7%, 24%, 1);

}

input[type="email"].invalid {
    border: 1px solid red;
    background-image: url("images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 75% 50%;

}

main {
    background-color: hsl(7, 176%, 97%);
}

footer {
    margin: auto;
    background-color: hsl(7, 176%, 97%);
}

.main-text {
    text-align: center;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-block: 1rem;
    color: hsla(0, 36%, 70%, 1);
}

input[type="email"] {
    width: 100%;
    display: block;
    border-radius: 35px;
    border: none;
    padding: .75rem;
    background-color: hsl(7, 176%, 97%);
    border: 1px solid hsl(0, 4%, 87%);
    outline: none;
}

input[type="submit"] {
    position: absolute;
    height: 50px;
    right: 0;
    top: 0%;
    width: 50px;
    border: none;
    border-radius: 30px;
    background-image: url("images/icon-arrow.svg"),
        linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    background-repeat: no-repeat;
    background-position: center center;

}

input[type="submit"]:hover {
    cursor: pointer;
}

form.emailForm {
    position: relative;
}

.styled {
    animation-timing-function: ease-in-out;
    animation-name: headShake;
    animation-duration: 1s;
}

@keyframes headShake {
    0% {
        transform: translateX(0);
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg);
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg);
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg);
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg);
    }

    50% {
        transform: translateX(0);
    }
}




@media only screen and (min-width: 920px) {
    body {
        background-image: url("images/bg-pattern-desktop.svg");
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .logo-container {
        background: inherit;
    }

    .header {
        grid-area: 1/1/1/4;
    }

    .main-title {
        text-align: left;
        align-items: flex-start;
        font-size: 4rem;
    }

    .main-text {
        text-align: left;
        font-size: 1rem;
    }

    input[type="email"] {
        font-size: 1rem;
    }

    .aside {
        grid-area: 1/4/6/7;
    }

    .main-container {
        margin-left: 0;
    }

    .main {
        grid-area: 2/1/6/4;
        background-color: transparent;
    }

}

@media only screen and (min-width: 1200px) {
    .main-container {
        padding-inline: 10.3rem;
        max-width: 50rem;
    }

    .logo-container {
        padding-block-start: 4.6rem;
        padding-block-end: 0;
    }

    .logo {
        padding-inline: 10.3rem;
    }
    .main-text {
        margin-block-end: 2rem;
    }
}